<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChatSpace</title>
    <link rel="stylesheet" href="style.css">
    <link href="./font-awesssome.css" rel="style.sheet">
  </head>
  <body>
    <header>
      <div class="heading">
        チャットグループが作成されました。
      </div>
    </header>
<!--     <div class="content"> -->
      <div class="left">
        <div class="left-1">
          <div class="text_name"><!-- 16px Bold #FFFFFF -->
            <span class="name">user_name</span>
            fa_icon "Twitter"<!-- 新規チャットグループボタン --><!-- font-awesome -->
            <span>(b2)<!-- アカウント編集ボタン --></span><!-- font-awesome -->
          </div>
        </div>
        <div class="left-2">
          <div class="group_name">group_sample_1</div>
          <div class="group_member">sample_message_1</div>
          <div class="group_name">group_sample_2</div>
          <div class="group_member">sample_message_2</div>
          <div class="group_name">group_sample_3</div>
          <div class="group_member">sample_message_3</div>
        </div>
      </div>
      <div class="right">
        <div class="right-1">
        </div>
        <div class="right-2">
        </div>
      </div>
    </div>
  </body>
</html>
